@media (min-width: 360px) {
  .menu {
    width: 360px;
    &__content {
      &--cross {
        margin-top: 24px;
        margin-left: 24px;
      }
      &--group {
        margin-top: 16.78px;
        margin-left: 16.78px;
      }
      &--search {
        margin-top: 24px;
        margin-left: 111.78px;
      }
    }
    &__list {
      width: 360px;
      &--services {
        margin-left: 20px;
      }
    }
    &__section {
      margin-left: 24px;
    }
    &__telefon {
      font-size: 24px;
    }
  }
}
