@media (min-width: 768px) {
  header {
    width: 768px;
    margin: 0 auto;

    .header__icons {
      width: 768px;
      margin: 0;

      .icon__burger {
        margin-left: 24px;
      }
      .icon__divider--768 {
        display: flex;
        margin-top: 28px;
        margin-left: 20px;
      }
      .icon__group {
        margin-left: 20.73px;
      }

      .icon__divider {
        position: absolute;
        margin-top: 28px;
        margin-left: 626px;
      }
      .icon__call {
        display: flex;
        margin-top: 24px;
        margin-left: 250.73px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      .icon__chat {
        display: flex;
        margin-top: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      .icon__profile {
        display: flex;
        margin-top: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
      }
      .icon__repair {
        margin-top: 24px;
        margin-left: 42px;
      }
      .icon__checkst {
        margin-top: 24px;
        margin-left: 16px;
      }
    }
  }
}
